<template>
    <Div
        class="certain-category-search-wrapper"
        :style="{ width: '100%' }"
        :darkMode="darkMode"
    >
        <a-row class="ant-row-middle">
            <a-col :md="2" :xs="1" :class="rtl ? 'text-left' : 'text-right'">
                <span class="certain-category-icon">
                    <unicon name="search"></unicon>
                </span>
            </a-col>
            <a-col :md="22" :xs="23">
                <sdPopover
                    :placement="!rtl ? 'bottomLeft' : 'bottomRight'"
                    v-model="visible"
                    title="Search List"
                    action="click"
                >
                    <template v-slot:content>
                        <div>
                            <Link
                                v-for="item in filteredData"
                                :key="item.id"
                                href="#"
                            >
                                {{ item.title }}
                                <span class="certain-search-item-count"
                                    >{{ item.count }} people</span
                                >
                            </Link>
                            <Link v-if="filteredData.length === 0" href="#">
                                Data Not Found.....
                            </Link>
                        </div>
                    </template>
                    <a-input
                        placeholder="Search..."
                        @input="(e) => search(e, searchData)"
                    />
                </sdPopover>
            </a-col>
        </a-row>
    </Div>
</template>

<script>
import { Div } from "./header-search-style";
import { Link } from "@inertiajs/vue3";
import useThemeLayout from "@/composables/useThemeLayout.js";
import { computed, ref, defineComponent } from "vue";

export default defineComponent({
    name: "HeaderSearch",
    props: ["darkMode"],
    components: {
        Div,
        Link,
    },
    setup() {
        const { rtl } = useThemeLayout();
        const searchData = ref([
            {
                id: 1,
                title: "AntDesign",
                count: 10000,
            },
            {
                id: 2,
                title: "Design UI",
                count: 10600,
            },

            {
                id: 3,
                title: "Bootstrap Design UI",
                count: 60100,
            },
            {
                id: 4,
                title: "Meterial design",
                count: 30010,
            },

            {
                id: 5,
                title: "AntDesign design language",
                count: 100000,
            },
        ]);

        const filteredData = ref([
            {
                id: 1,
                title: "AntDesign",
                count: 10000,
            },
            {
                id: 2,
                title: "Design UI",
                count: 10600,
            },

            {
                id: 3,
                title: "Bootstrap Design UI",
                count: 60100,
            },
            {
                id: 4,
                title: "Meterial design",
                count: 30010,
            },

            {
                id: 5,
                title: "AntDesign design language",
                count: 100000,
            },
        ]);
        const visible = ref(false);

        const search = (e, searchDatas) => {
            const data = searchDatas.filter((item) => {
                return item.title.startsWith(e.target.value);
            });
            filteredData.value = data;
        };
        const hide = () => {
            visible.value = false;
        };

        return {
            search,
            hide,
            searchData,
            filteredData,
            visible,
            rtl,
        };
    },
});
</script>
