<script>
import { defineComponent } from "vue";
import { Link } from "@inertiajs/vue3";

export default defineComponent({
    components: { Link },
    setup() {
        return {};
    },
});
</script>

<template>
    <h1 class="py-8 text-center text-[#8231D3] text-[50px] h-screen">
        I'm Dashboard page 👋
    </h1>
</template>
