<template>
    <InfoWraper>
        <SearchBar />
        <Message />
        <Notification />
        <Settings />
        <!-- <Support /> -->
        <div
            class="ninjadash-nav-actions__item ninjadash-nav-actions__language"
        >
            <sdDropdown placement="bottomRight" :action="['click']">
                <template v-slot:overlay>
                    <NavAuth>
                        <Link
                            @click="() => onFlagChangeHandle('english')"
                            href="#"
                        >
                            <img :src="'/img/flag/english.png'" alt="" />
                            <span>English</span>
                        </Link>
                        <Link
                            @click="() => onFlagChangeHandle('germany')"
                            href="#"
                        >
                            <img src="/img/flag/germany.png" alt="" />
                            <span>Germany</span>
                        </Link>
                        <Link
                            @click="() => onFlagChangeHandle('spain')"
                            href="#"
                        >
                            <img :src="'/img/flag/spain.png'" alt="" />
                            <span>Spain</span>
                        </Link>
                        <Link
                            @click="() => onFlagChangeHandle('turky')"
                            href="#"
                        >
                            <img :src="'/img/flag/turky.png'" alt="" />
                            <span>Turky</span>
                        </Link>
                    </NavAuth>
                </template>
                <a href="#" class="ninjadash-nav-action-link">
                    <img :src="`/img/flag/${flag}.png`" alt="" />
                </a>
            </sdDropdown>
        </div>

        <div class="ninjadash-nav-actions__item ninjadash-nav-actions__author">
            <sdPopover placement="bottomRight" action="click">
                <template v-slot:content>
                    <UserDropDown>
                        <div class="user-dropdown">
                            <figure class="user-dropdown__info">
                                <img
                                    :src="'/img/avatar/chat-auth.png'"
                                    alt=""
                                />
                                <figcaption>
                                    <sdHeading as="h5">{{
                                        $page.props.auth.user.name
                                    }}</sdHeading>
                                    <p>Support Enginner</p>
                                </figcaption>
                            </figure>
                            <ul class="user-dropdown__links">
                                <li>
                                    <a href="#">
                                        <unicon name="user"></unicon> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <unicon name="setting"></unicon>
                                        Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <unicon name="dollar-sign"></unicon>
                                        Billing
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <unicon name="users-alt"></unicon>
                                        Activity
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <unicon name="bell"></unicon> Help
                                    </a>
                                </li>
                            </ul>
                            <form method="POST" @submit.prevent="logout">
                                <button
                                    @click="SignOut"
                                    class="user-dropdown__bottomAction"
                                >
                                    <LogoutOutlined /> Sign Out
                                </button>
                            </form>
                        </div>
                    </UserDropDown>
                </template>
                <a href="#" class="ninjadash-nav-action-link">
                    <a-avatar :src="'/img/avatar/chat-auth.png'" />
                    <span class="ninjadash-nav-actions__author--name">{{
                        $page.props.auth.user.name
                    }}</span>
                    <unicon name="angle-down"></unicon>
                </a>
            </sdPopover>
        </div>
    </InfoWraper>
</template>

<script>
import { InfoWraper, NavAuth, UserDropDown } from "./auth-info-style";
import { Link } from "@inertiajs/vue3";
// import Support from "./Support";
import Settings from "./Settings.vue";
import Notification from "./Notification.vue";
import Message from "./Message.vue";
// import { useStore } from "vuex";
// import { useRouter } from "vue-router";
import { router } from "@inertiajs/vue3";
import { LogoutOutlined } from "@ant-design/icons-vue";
import { defineComponent } from "vue";
import SearchBar from "./Search.vue";

export default defineComponent({
    name: "AuthInfo",
    components: {
        InfoWraper,
        Link,
        NavAuth,
        UserDropDown,
        // Support,
        Settings,
        Notification,
        Message,
        LogoutOutlined,
        SearchBar,
    },
    data() {
        return {
            flag: "english",
        };
    },
    setup() {
        // const { dispatch } = useStore();
        // const router = useRouter();
        const logout = () => {
            router.post(route("logout"));
        };

        return {
            logout,
        };
    },
    methods: {
        onFlagChangeHandle: function (value) {
            this.flag = value;
        },
    },
});
</script>
