<template>
    <CardWrapper>
        <img :src="`${img}`" alt="" />
        <figcaption>
            <h2>{{ title }}</h2>
            <p>{{ content }}</p>
            <Link href="#">Learn More</Link>
        </figcaption>
    </CardWrapper>
</template>

<script>
import { defineComponent, toRefs } from "vue";
import { Link } from "@inertiajs/vue3";
import Styled from "vue3-styled-components";
const CardWrapper = Styled.figure`
  background: ${({ theme }) => theme[theme.mainContent]["white-background"]};
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 0;
  figcaption {
    h2 {
      margin: 18px 0 10px 0;
      font-size: 18px;
      font-weight: 600;
			color: ${({ theme }) => theme[theme.mainContent]["dark-text"]}
    }
    p {
      line-height: 1.79;
      color: ${({ theme }) => theme[theme.mainContent]["gray-text"]};
    }
    a {
      color: ${({ theme }) => theme["primary-color"]};
      font-size: 15px;
      font-weight: 600;
    }
  }
`;
import VueTypes from "vue-types";
export default defineComponent({
    name: "SampleCardTwo",
    components: { Link, CardWrapper },
    props: {
        item: VueTypes.object.def({
            id: 1,
            title: "Technology Change the World",
            content:
                "Lorem Ipsum is simply dummy text of the printer took a galley of type and scrambled",
            img: "/img/sampleCards/1.png",
        }),
    },
    setup(props) {
        const { item } = toRefs(props);
        const { id, title, content, img } = item.value;
        return { id, title, content, img };
    },
});
</script>
