<template>
    <a-menu
        :open-keys="openKeys"
        v-model:selectedKeys="selectedKeys"
        :mode="mode"
        :theme="darkMode ? 'dark' : 'light'"
        class="scroll-menu"
        @openChange="onOpenChange"
        @click="onClick"
    >
        <a-menu-item
            @click="toggleCollapsed"
            key="dashboard"
            :class="{
                'ant-menu-item-selected': $page.component === 'Dashboard',
            }"
        >
            <template #icon>
                <unicon name="create-dashboard"></unicon>
            </template>
            <Link href="/dashboard">Dashboard</Link>
        </a-menu-item>

        <a-sub-menu key="layout">
            <template #icon>
                <unicon name="window-section"></unicon>
            </template>
            <template #title>Layouts</template>
            <a-menu-item @click="toggleCollapsed" key="light">
                <a
                    @click="
                        (e) => {
                            e.preventDefault();
                            toggleCollapsed();
                            modeChangeLight();
                        }
                    "
                    to="#"
                >
                    Light Mode
                </a>
            </a-menu-item>
            <a-menu-item @click="toggleCollapsed" key="dark">
                <a
                    @click="
                        (e) => {
                            e.preventDefault();
                            toggleCollapsed();
                            modeChangeDark();
                        }
                    "
                    to="#"
                >
                    Dark Mode
                </a>
            </a-menu-item>
            <a-menu-item @click="toggleCollapsed" key="topMenu">
                <a
                    @click="
                        (e) => {
                            e.preventDefault();
                            toggleCollapsed();
                            modeChangeTopNav();
                        }
                    "
                    to="#"
                >
                    Top Menu
                </a>
            </a-menu-item>
            <a-menu-item @click="toggleCollapsed" key="sideMenu">
                <a
                    @click="
                        (e) => {
                            e.preventDefault();
                            toggleCollapsed();
                            modeChangeSideNav();
                        }
                    "
                    to="#"
                >
                    Side Menu
                </a>
            </a-menu-item>
            <a-menu-item @click="toggleCollapsed" key="rtl">
                <a
                    @click="
                        (e) => {
                            e.preventDefault();
                            toggleCollapsed();
                            onRtlChange();
                        }
                    "
                    to="#"
                >
                    RTL
                </a>
            </a-menu-item>
            <a-menu-item @click="toggleCollapsed" key="ltr">
                <a
                    @click="
                        (e) => {
                            e.preventDefault();
                            toggleCollapsed();
                            onLtrChange();
                        }
                    "
                    to="#"
                >
                    LTR
                </a>
            </a-menu-item>
        </a-sub-menu>
    </a-menu>
</template>
<script>
import {
    computed,
    reactive,
    ref,
    toRefs,
    watch,
    watchEffect,
    defineComponent,
    onMounted,
} from "vue";
import { Link } from "@inertiajs/vue3";
import VueTypes from "vue-types";
import useThemeLayout from "@/composables/useThemeLayout.js";
import { useRoute } from "vue-router";
import versions from "../demoData/changelog.json";
import { NavTitle } from "./style";

export default defineComponent({
    name: "AsideItems",
    props: {
        toggleCollapsed: VueTypes.func,
        events: VueTypes.object,
    },
    components: {
        Link,
        NavTitle,
    },
    setup(props) {
        const { darkMode } = useThemeLayout();
        const mode = ref("inline");
        const { events } = toRefs(props);
        const {
            onRtlChange,
            onLtrChange,
            modeChangeDark,
            modeChangeLight,
            modeChangeTopNav,
            modeChangeSideNav,
        } = events.value;

        const router = computed(() => useRoute());
        const state = reactive({
            rootSubmenuKeys: ["sub1", "sub2", "sub4"],
            selectedKeys: ["home"],
            openKeys: ["dashboard"],
            preOpenKeys: ["dashboard"],
        });

        const onOpenChange = (keys) => {
            state.openKeys =
                keys[keys.length - 1] !== "recharts"
                    ? [keys.length && keys[keys.length - 1]]
                    : keys;
        };

        const onClick = (item) => {
            if (item.keyPath.length === 1) state.openKeys = [];
        };

        // watchEffect(() => {
        //     if (router.value.matched.length) {
        //         if (router.value.matched.length > 2) {
        //             state.selectedKeys = [router.value.matched[2].name];
        //             state.openKeys = [router.value.matched[1].name];
        //             state.preOpenKeys = [router.value.matched[1].name];
        //         } else if (router.value.matched.length > 3) {
        //             state.selectedKeys = [router.value.matched[3].name];
        //             state.openKeys = [router.value.matched[1].name];
        //             state.preOpenKeys = [router.value.matched[1].name];
        //         } else {
        //             state.selectedKeys = [router.value.matched[1].name];
        //             state.openKeys = [router.value.matched[1].name];
        //             state.preOpenKeys = [router.value.matched[1].name];
        //         }
        //     }
        // });

        watch(
            () => state.openKeys,
            (val, oldVal) => {
                state.preOpenKeys = oldVal;
            }
        );

        return {
            mode,
            ...toRefs(state),
            darkMode,
            onRtlChange,
            onLtrChange,
            modeChangeDark,
            modeChangeLight,
            modeChangeTopNav,
            modeChangeSideNav,
            versions,
            onOpenChange,
            onClick,
        };
    },
});
</script>
