<template>
    <TopMenuStyle>
        <div class="ninjadash-top-menu">
            <ul>
                <li class="has-subMenu">
                    <a href="#" class="parent"> Dashboard </a>
                    <ul class="subMenu">
                        <li @click="addParentActive">
                            <Link :href="`/demo-one`">Demo 1</Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/demo-two`">Demo 2</Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/demo-three`">Demo 3</Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/demo-four`">Demo 4</Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/demo-five`">Demo 5</Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/demo-six`">Demo 6</Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/demo-seven`">Demo 7</Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/demo-eight`">Demo 8</Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/demo-nine`">Demo 9</Link>
                        </li>
                    </ul>
                </li>

                <li class="has-subMenu">
                    <a href="#" class="parent"> Crud </a>
                    <ul class="subMenu">
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="database"></unicon>
                                Axios Crud
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link to="/crud/axios-view">
                                        View All
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/crud/axios-add"> Add New </Link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-subMenu">
                    <a href="#" class="parent"> Apps </a>
                    <ul class="subMenu">
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="envelope"></unicon>
                                Email
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link to="/app/mail/inbox"> Inbox </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/app/mail-single/1585118055048">
                                        Read Email
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li @click="addParentActive">
                            <Link to="/app/chat/private/rofiq@gmail.com">
                                <unicon name="comment-alt"></unicon>
                                Chat
                            </Link>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="shopping-cart"></unicon>
                                eComerce
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link to="/app/ecommerce/product/grid">
                                        Products
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/app/ecommerce/productDetails/1">
                                        Products Details
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/app/ecommerce/add-product">
                                        Product Add
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/app/ecommerce/edit-product">
                                        Product Edit
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/app/ecommerce/cart"> Cart </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/app/ecommerce/orders">
                                        Orders
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/app/ecommerce/sellers">
                                        Sellers
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link to="/app/ecommerce/Invoice">
                                        Invoices
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="shutter-alt"></unicon>
                                Social App
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link
                                        :href="`/app/social/profile/overview`"
                                    >
                                        My Profile
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link
                                        :href="`/app/social/profile/timeline`"
                                    >
                                        Timeline
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link
                                        :href="`/app/social/profile/activity`"
                                    >
                                        Activity
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="bullseye"></unicon>
                                Project
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/app/project/grid`">
                                        Project Grid
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/project/list`">
                                        Project List
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/project/create`">
                                        Create Project
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link
                                        :href="`/app/project/projectDetails/1`"
                                    >
                                        Project Details
                                    </Link>
                                </li>
                            </ul>
                        </li>

                        <li @click="addParentActive">
                            <Link :href="`/app/calendar/month`">
                                <unicon name="calendar-alt"></unicon>
                                Calendar
                            </Link>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="users-alt"></unicon>
                                Users
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/app/users/team`">
                                        Team
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/users/users/user-grid`">
                                        Users Grid
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/users/users/user-list`">
                                        Users List
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/users/users/grid-style`">
                                        Users Grid Style
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/users/users/grid-group`">
                                        Users Group
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/users/add-user/info`">
                                        Add User
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/users/dataTable`">
                                        User Table
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="user-plus"></unicon>
                                Contact
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/app/contact/contact-create`">
                                        Contact Create
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/contact/contact-grid`">
                                        Contact Grid
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/contact/contact-list`">
                                        Contact List
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/app/note/all`">
                                <unicon name="file-alt"></unicon>
                                Note
                            </Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/app/to-do/`">
                                <unicon name="check-square"></unicon>
                                To Do
                            </Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/app/kanban`">
                                <SvgConverter
                                    class="ninjadash_menu-item-icon"
                                    :src="'/img/icon/columns.svg'"
                                />
                                Kanban Board
                            </Link>
                        </li>
                        <li @click="addParentActive">
                            <Link :href="`/app/task/all`">
                                <unicon name="file"></unicon>
                                Task
                            </Link>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <SvgConverter
                                    class="ninjadash_menu-item-icon"
                                    :src="'/img/icon/repeat.svg'"
                                />
                                Import Export
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/app/import`"> Import </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/app/export`"> Export </Link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="mega-item has-subMenu">
                    <a href="#" class="parent"> Pages </a>
                    <ul class="megaMenu-wrapper megaMenu-small">
                        <li>
                            <ul>
                                <li @click="addParentActive">
                                    <Link :href="`/page/profile-settings`">
                                        Settings
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/gallery`">
                                        Gallery
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/pricing`">
                                        Pricing
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/banners`">
                                        Banners
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/testimonials`">
                                        Testimonials
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/faqs`"> Faq`s </Link>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li @click="addParentActive">
                                    <Link :href="`/page/search`">
                                        Search Results
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/starter`">
                                        Blank Page
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/maintenance`">
                                        Maintenance
                                    </Link>
                                </li>

                                <li @click="addParentActive">
                                    <Link :href="`/page/404`"> 404 </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/comingSoon`">
                                        Coming Soon
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/page/support`">
                                        Support Center
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li @click="addParentActive">
                                    <Link :href="`/changelog`">
                                        Changelog
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link
                                        :href="`/page/knowledgebase/base/plugins`"
                                    >
                                        Knowledgebase
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link
                                        :href="`/page/knowledgebase/all-articles`"
                                    >
                                        All Article
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link
                                        :href="`/page/knowledgebase/single/1`"
                                    >
                                        Single Article
                                    </Link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="mega-item has-subMenu">
                    <a href="#" class="parent"> Components </a>
                    <ul class="megaMenu-wrapper megaMenu-wide">
                        <li>
                            <span class="mega-title">Components</span>
                            <ul>
                                <li @click="addParentActive">
                                    <Link :href="`/components/alerts`">
                                        Alert
                                    </Link>
                                </li>

                                <li @click="addParentActive">
                                    <Link :href="`/components/avatar`">
                                        Avatar
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/badge`">
                                        Badge
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/breadcrumb`">
                                        Breadcrumb
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/button`">
                                        Buttons
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/calendar`">
                                        Calendar
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/cards`">
                                        Card
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/carousel`">
                                        Carousel
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/cascader`">
                                        Cascader
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/checkbox`">
                                        Checkbox
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/collapse`">
                                        Collapse
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="mega-title">Components</span>
                            <ul>
                                <li @click="addParentActive">
                                    <Link :href="`/components/comments`">
                                        Comments
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/dash-base`">
                                        Dashboard Base
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/datePicker`">
                                        DataPicker
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/drag-drop`">
                                        Drag & Drop
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/drawer`">
                                        Drawer
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/dropdown`">
                                        Dropdown
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/empty`">
                                        Empty
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/grid`">
                                        Grid
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/input`">
                                        Input
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/list`">
                                        List
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/menu`">
                                        Menu
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="mega-title">Components</span>
                            <ul>
                                <li @click="addParentActive">
                                    <Link :href="`/components/message`">
                                        Message
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/modal`">
                                        Modals
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/notification`">
                                        Notifications
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/pageHeader`">
                                        Page Headers
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/pagination`">
                                        Pagination
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/popConfirm`">
                                        PopConfirm
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/popover`">
                                        PopOver
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/progressbar`">
                                        Progress
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/radio`">
                                        Radio
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/rate`">
                                        Rate
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/result`">
                                        Result
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/select`">
                                        Select
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="mega-title">Components</span>
                            <ul>
                                <li @click="addParentActive">
                                    <Link :href="`/components/skeleton`">
                                        Skeleton
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/slider`">
                                        Slider
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/spiner`">
                                        Spiner
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/statistic`">
                                        Statistics
                                    </Link>
                                </li>

                                <li @click="addParentActive">
                                    <Link :href="`/components/steps`">
                                        Steps
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/switch`">
                                        Switch
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/tabs`">
                                        Tabs
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/tags`">
                                        Tags
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/timeline`">
                                        Timeline
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/time-picker`">
                                        TimePicker
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/tree-select`">
                                        Tree Select
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/components/upload`">
                                        Upload
                                    </Link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-subMenu">
                    <a href="#" class="parent"> Features </a>
                    <ul class="subMenu">
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="chart-bar"></unicon>
                                Charts
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/chart/chart-js`">
                                        Chart Js
                                    </Link>
                                </li>
                                <!-- <li>
                  <Link :href="`/charts/google-chart`">Google Chart</Link>
                </li> -->
                                <li class="has-subMenu-left">
                                    <a href="#">Apex Charts</a>
                                    <ul class="subMenu">
                                        <li @click="addParentActive">
                                            <Link :href="`/chart/column-chart`">
                                                Column Charts
                                            </Link>
                                        </li>
                                        <li @click="addParentActive">
                                            <Link :href="`/chart/line-chart`">
                                                Line Charts
                                            </Link>
                                        </li>
                                        <li @click="addParentActive">
                                            <Link :href="`/chart/area-chart`">
                                                Area Charts
                                            </Link>
                                        </li>
                                        <li @click="addParentActive">
                                            <Link :href="`/chart/bar-chart`">
                                                Bar Charts
                                            </Link>
                                        </li>
                                        <li @click="addParentActive">
                                            <Link :href="`/chart/pie-chart`">
                                                Pie Charts
                                            </Link>
                                        </li>
                                        <li @click="addParentActive">
                                            <Link :href="`/chart/radar-charts`">
                                                Radar Charts
                                            </Link>
                                        </li>
                                        <li @click="addParentActive">
                                            <Link
                                                :href="`/chart/radialbar-chart`"
                                            >
                                                Radialbar Charts
                                            </Link>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="compact-disc"></unicon>
                                Form
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/forms/form-layout`">
                                        Form Layouts
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/forms/form-elements`">
                                        Form Elements
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/forms/form-components`">
                                        Form Components
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/forms/form-validation`">
                                        Form Validation
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="processor"></unicon>
                                Tables
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/tables/basic`">
                                        Basic Table
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/tables/dataTable`">
                                        Data Table
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="server"></unicon>
                                Widgets
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/widgets/chart`">
                                        Chart
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/widgets/card`"> Card </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/widgets/mixed`">
                                        Mixed
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="server"></unicon>
                                Wizards
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/wizard/wizard1`">
                                        Wizard 1
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/wizard/wizard2`">
                                        Wizard 2
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/wizard/wizard3`">
                                        Wizard 3
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/wizard/wizard4`">
                                        Wizard 4
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/wizard/wizard5`">
                                        Wizard 5
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/wizard/wizard6`">
                                        Wizard 6
                                    </Link>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="grid"></unicon>
                                Icons
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/icons/featherIcons`">
                                        Feather Icons(svg)
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/icons/fa`">
                                        Font Awesome
                                    </Link>
                                </li>
                                <!-- <li @click="addParentActive">
                  <Link :href="`/icons/antdIcons`">
                    Ant Design Icons
                  </Link>
                </li> -->
                            </ul>
                        </li>
                        <!-- <li @click="addParentActive">
              <Link :href="`/editor`">
                <unicon name="edit"></unicon>
                Editor
              </Link>
            </li> -->

                        <li class="has-subMenu-left">
                            <a href="#" class="parent">
                                <unicon name="map"></unicon>
                                Maps
                            </a>
                            <ul class="subMenu">
                                <li @click="addParentActive">
                                    <Link :href="`/maps/google`">
                                        Google Maps
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/maps/leaflet`">
                                        Leaflet Maps
                                    </Link>
                                </li>
                                <li @click="addParentActive">
                                    <Link :href="`/maps/Vector`">
                                        Vector Maps
                                    </Link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </TopMenuStyle>
</template>
<script>
import { onMounted, defineComponent } from "vue";
import { Link } from "@inertiajs/vue3";
import { TopMenuStyle } from "./style";
import SvgConverter from "../components/utilities/SvgConverter.vue";

export default defineComponent({
    name: "TopMenu",
    components: {
        Link,
        TopMenuStyle,
        SvgConverter,
    },
    setup() {
        onMounted(() => {
            const active = document.querySelector(
                ".ninjadash-top-menu a.active"
            );
            const activeDefault = () => {
                const megaMenu = active.closest(".megaMenu-wrapper");
                const hasSubMenuLeft = active.closest(".has-subMenu-left");
                if (!megaMenu) {
                    active
                        .closest("ul")
                        .previousSibling.classList.add("active");
                    if (hasSubMenuLeft)
                        hasSubMenuLeft
                            .closest("ul")
                            .previousSibling.classList.add("active");
                } else {
                    active
                        .closest(".megaMenu-wrapper")
                        .previousSibling.classList.add("active");
                }
            };
            window.addEventListener("load", active && activeDefault);
            // return () => window.removeEventListener('load', activeDefault);
        });

        const addParentActive = (event) => {
            document.querySelectorAll(".parent").forEach((element) => {
                element.classList.remove("active");
            });

            const hasSubMenuLeft =
                event.currentTarget.closest(".has-subMenu-left");
            const megaMenu = event.currentTarget.closest(".megaMenu-wrapper");
            if (!megaMenu) {
                event.currentTarget
                    .closest("ul")
                    .previousSibling.classList.add("active");
                if (hasSubMenuLeft)
                    hasSubMenuLeft
                        .closest("ul")
                        .previousSibling.classList.add("active");
            } else {
                event.currentTarget
                    .closest(".megaMenu-wrapper")
                    .previousSibling.classList.add("active");
            }
        };

        return { addParentActive };
    },
});
</script>
