<template>
    <div v-if="isLoading" class="spin">
        <a-spin />
    </div>
    <ThemeProvider
        v-else
        :theme="{
            rtl,
            topMenu,
            darkMode,
            mainContent,
            ...themeColor,
        }"
    >
        <Suspense>
            <AuthenticationWrap
                :style="{
                    backgroundImage: `url('${'/img/admin-bg-light.png'}')`,
                }"
            >
                <div class="ninjadash-authentication-wrap">
                    <div class="ninjadash-authentication-brand">
                        <img :src="'/img/Logo_Dark.svg'" alt="" />
                    </div>
                    <slot></slot>
                </div>
            </AuthenticationWrap>
        </Suspense>
    </ThemeProvider>
</template>
<script>
import { Aside, Content, AuthenticationWrap } from "./style";
import AppLayout from "./App.vue";
import { ThemeProvider } from "vue3-styled-components";
import { themeColor } from "../config/theme/themeVariables";
import { computed, defineComponent, onMounted } from "vue";
import useThemeLayout from "@/composables/useThemeLayout.js";
import "v-calendar/dist/style.css";

export default defineComponent({
    layout: AppLayout,
    name: "AuthLayout",
    components: { ThemeProvider, Aside, Content, AuthenticationWrap },
    setup() {
        const { rtl, darkMode, topMenu, mainContent, isLoading } =
            useThemeLayout();

        onMounted(() => {
            window.addEventListener("load", () => {
                const domHtml = document.getElementsByTagName("html")[0];
                rtl.value
                    ? domHtml.setAttribute("dir", "rtl")
                    : domHtml.setAttribute("dir", "ltr");
                darkMode.value ? document.body.classList.add("dark-mode") : "";
            });
        });

        return {
            themeColor,
            rtl,
            darkMode,
            topMenu,
            isLoading,
            mainContent,
        };
    },
});
</script>
